::ng-deep{
    @import '~codemirror/lib/codemirror';
    @import '~codemirror/theme/material';

 

}

::ng-deep{
    .CodeMirror-cursors{
        visibility: hidden !important;
        display: none;
        opacity: 0;
    }
}