<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong class="m-0">Date & Time Picker</strong>
                </div>
                <div class="card-body">
                    <input type="text" datetimepicker [(ngModel)]="datetime" class="form-control form-control-lg">
                </div>
                <div class="card-footer">
                    <a routerLink="/datepicker/datetime"><i class="fas fa-info-circle me-2"></i>Read Documentation</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong class="m-0">Date Picker only</strong>
                </div>
                <div class="card-body">
                    <input type="text" datepicker [(ngModel)]="date" class="form-control form-control-lg">
                </div>
                <div class="card-footer">
                    <a routerLink="/datepicker/date"><i class="fas fa-info-circle me-2"></i>Read Documentation</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong class="m-0">Time Picker only</strong>
                </div>
                <div class="card-body">
                    <input type="text" timepicker [(ngModel)]="time" class="form-control form-control-lg">
                </div>
                <div class="card-footer">
                    <a routerLink="/datepicker/time"><i class="fas fa-info-circle me-2"></i>Read Documentation</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong class="m-0">Month Picker</strong>
                </div>
                <div class="card-body">
                    <input type="text" monthpicker [(ngModel)]="month" class="form-control form-control-lg">
                </div>
                <div class="card-footer">
                    <a routerLink="/datepicker/month"><i class="fas fa-info-circle me-2"></i>Read Documentation</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong class="m-0">Year Picker</strong>
                </div>
                <div class="card-body">
                    <input type="text" yearpicker [(ngModel)]="year" class="form-control form-control-lg">
                </div>
                <div class="card-footer">
                    <a routerLink="/datepicker/year"><i class="fas fa-info-circle me-2"></i>Read Documentation</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong class="m-0">Undefined</strong>
                </div>
                <div class="card-body">
                    <input type="text" datepicker [(ngModel)]="form.date" class="form-control form-control-lg">
                </div>
                <div class="card-footer">
                    <a routerLink="/datepicker/year"><i class="fas fa-info-circle me-2"></i>Read Documentation</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card mb-3">
                <div class="card-header">
                    <strong class="m-0">Love the material UI ?</strong>
                </div>
                <div class="card-body">
                    <p>Its Material Bootstrap aka MDB!!! </p>
                </div>
                <div class="card-footer">
                    <a href="https://mdbootstrap.com/" target="_blank"><i class="fas fa-info-circle me-2"></i>Give it a shot!! mdbootstrap.com</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>