<app-header></app-header>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card p-3">
                <h4 class="mb-3">Date & Time Picker</h4>
                <input type="text" [format]="'YYYY-MM-DD'" datetimepicker [(ngModel)]="datetime" class="form-control form-control-lg">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-3">
                <h4 class="mb-3">Date Picker</h4>
                <input type="text" [format]="'YYYY-MM-DD'" datepicker [(ngModel)]="date" class="form-control form-control-lg">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card p-3">
                <h4 class="mb-3">Time Picker</h4>
                <input type="text" [format]="'HH:mm:ss'" timepicker [(ngModel)]="time" class="form-control form-control-lg">
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>