<app-header></app-header>

<div class="container">
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Dropdown
                </div>
                <div class="card-body">
                    <selectpicker [(ngModel)]="hero" [options]="options" [data]="heros"></selectpicker>
                </div>
                <div class="card-footer">
                    <h4 class="m-0">{{hero}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Dropdown with search
                </div>
                <div class="card-body">
                    <selectpicker [(ngModel)]="hero" [options]="options" [data]="heros"></selectpicker>
                </div>
                <div class="card-footer">
                    <h4 class="m-0">{{hero}}</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    Dropdown with custom search
                </div>
                <div class="card-body">
                    <selectpicker [(ngModel)]="hero" [options]="options" [data]="heros"></selectpicker>
                </div>
                <div class="card-footer">
                    <h4 class="m-0">{{hero}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>